page-top
  div.wrap-page
    module-hiro.mb40
    module-index.mb40
    module-section1.mb40
    module-section2.mb40
    module-section3.mb40
    module-section4.mb40
    module-section5.mb40
    module-footer

  style(scoped, type='less').
    :scope {
      display: block;
      @media only screen and (max-width : 600px) {
        
      }
    }

  script.

    var self = this;